body {
  background-color: aliceblue;
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 10px;
  align-self: center;
}

img {
  width: 30vw;
  height: auto;
  margin-right: 50px;
}

.progress-label {
  margin-bottom: 5px;
}

.progress-bar {
  background-color: rgb(232, 232, 232);
  border-radius: 10px;
}

.progress {
  background-color: rgb(0, 255, 170);
  width: 0%;
  height: 10px;
}

.progress-container {
  margin: auto;
  max-width: 20vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
